.card {
	padding: 40px 30px 30px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	background: $white;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20);
	border-radius: 4px;
	// .card__title
	&__title {
		margin-bottom: 21px;
		&>span{
			color: rgba($color: $colorText, $alpha: 1);;
			font-size: 24px;
			font-weight: 700;
		}
	}

	// .card__body
	&__body {
		margin-bottom: 30px;
	}

	// .card__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}

	// .card__inputs
	&__inputs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		width: 100%;
	}

	// .card__item
	&__item {
		width: 100%;
	}

	// .card__name
	&__name {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 7px;

		color: rgba($color: $colorText, $alpha: 1);;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}

	// .card__input
	&__input {
		z-index: 10;
		border: 1px solid rgba($colorText, 0.25);
		border-radius: 4px;
		padding: 13px 15px;
		width: 100%;
		background-color: $white;
		&:hover{
			border: 1px solid rgba($colorText, 0.5);
		}
		&.show{
			border: 1px solid rgba($colorText, 0.5);
			border-radius: 4px 4px 0 0;
			border-bottom: 1px solid transparent;
		}
		&:not(:last-child){
			margin-bottom: 10px;
		}
		display: flex;
		align-items: center;
		justify-content: start;
		span{
			overflow: hidden;
			max-width: 160px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	// .card__radio
	&__radio {
		width: 100%;
		&:not(:last-child){
			margin-bottom: 10px;
		}
	}

	// .card__btn
	&__btn {
		width: 100%;
		span{
			padding: 15px 20px;
		}
		&-secondary{
			width: 100%;
			span{
				padding: 13px 18px;
			}
		}
	}

	// .card__picker
	&__picker {
		z-index: 20;
		background-color: $white;
		min-width: 100%;
	}
}

.select {
	position: relative;
	// .select__title
	&__title{
		cursor: pointer;
	}

	// .select__body
	&__body {
		z-index: 15;
		display: none;
		padding: 13px;
		background-color: $white;
		border: 1px solid rgba($colorText, 0.5);
		border-radius: 0 0 4px 4px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		&.show{
			display: block;
		}
	}

	// .select__option
	&__option {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		&:not(:first-child){
			margin-top: 7px;
		}
	}

	// .select__name
	&__name {
	}

	// .select__quantity
	&__quantity {
	}

	// .select__buttons
	&__buttons {
		margin-top: 19px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .select__btn
	&__btn {
		color: $pirple;
		cursor: pointer;
	}
}

.quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1px;
	// .quantity__btn
	&__btn {
		flex: 0 0 30px;
		cursor: pointer;
		height: 30px;
		width: 30px;
		border: 1px solid rgba($colorText, 0.25);
		border-radius: 50%;
	}

	// .quantity__minus
	&__minus {
		background: url("../img/icons/minus.svg") center no-repeat;
	}

	// .quantity__value
	&__value {
		height: 30px;
		padding: 0 6px;
		width: 100%;
		display: flex;
		align-items: center;
	}

	// .quantity__plus
	&__plus {
		background: url("../img/icons/plus.svg") center no-repeat;
	}
}

// ------------------- media --------------------------------
@media (max-width: $breakpoint480) {
	.card{
		padding: 20px 10px;
	}
}