.page {

	// .page__content
	&__content {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 266px auto;
		gap: 60px;
		margin-top: 70px+30px;
	}

	// .page__aside
	&__aside {
	}

	// .page__maincontent
	&__maincontent {
	}
}

.asidepage {
	// .asidepage__row
	&__row {
		margin-bottom: 30px;
	}
}

.maincontent {
	// .maincontent__title
	&__title {
		margin-bottom: 20px;
	}

	// .maincontent__body
	&__body {
		// display: grid;
		// grid-template-columns: 1fr 1fr 1fr;
		min-width: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 20px 12px;
	}

	// .maincontent__item
	&__item {
		flex: 0 0 32%;
		width: 100px;
	}

	// .maincontent__pagging
	&__pagging {
	}
}

.page {

	// .page__maincontent

	&__maincontent {
	}
}

