.page {
	background-color: #f6f6f6;
	padding-top: 30px;
	padding-bottom: 70px;
	margin-top: 70px;

	// .page__content
	&__content {
		min-height: 100vh;
		display: grid;
		grid-template-columns: 266px auto;
		gap: 60px;
	}

	// .page__aside
	&__aside {
	}

	// .page__maincontent
	&__maincontent {
	}
}

.asidepage {
	// .asidepage__row
	&__row {
		margin-bottom: 30px;
	}
}

.maincontent {
	// .maincontent__title
	&__title {

		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		letter-spacing: 0em;	
		margin-bottom: 20px;
	}

	// .maincontent__body
	&__body {
		// display: grid;
		// grid-template-columns: 1fr 1fr 1fr;
		min-width: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 20px 12px;
	}

	// .maincontent__item
	&__item {
		flex: 0 0 32%;
		width: 100px;
	}

	// .maincontent__pagging
	&__pagging {
	}
}

.page {

	// .page__maincontent

	&__maincontent {
	}
}

