.footer {
	// .footer__top
	&__top {
		padding: 104px 0 100px;
		box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
		& .footer__text{
			max-width: 260px;
		}
	}

	// .footer__content
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	// .footer__column
	&__column {
	}

	// .footer__logo
	&__logo {
		margin-bottom: 20px;
	}

	// .footer__text
	&__text {
	}

	// .footer__nav
	&__nav {
		li{
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
	}

	// .footer__linktitle
	&__linktitle {
		text-transform: uppercase;
		margin-bottom: 21px;
	}

	// .footer__link
	&__link {

	}

	// .footer__form
	&__form {
	}

	// .footer__bottom
	&__bottom {
		padding: 26px 0;
		& .footer__column:first-child {
			display: none;
		}
		& .footer__content{
			align-items: center;
		}
	}

	// .footer__social
	&__social {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	// .footer__sociallink
	&__sociallink {
		font-size: 19.5px;
		&::before {
			color: #8ba4f9;
			background: linear-gradient(180deg, $pirple 0%, $blue 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.footerform {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba($color: $colorText, $alpha: .25);
	padding: 12px 0 12px 15px;
	border-radius: 4px;
	gap: 15px;

	// .footerform__input
	&__input {
		width: 100%;
	}

	// .footerform__btn
	&__btn {
		cursor: pointer;
		height: 20px;
	}
}

// ------------------- media --------------------------------
@media (max-width:$breakpoint992) {
	.footer {
		&__top {
			display: none;
		}
		&__bottom {
			padding: 100px 0;
			& .footer__column:first-child {
				display: block;
			}
		}

		&__content{
			flex-direction: column;
			gap: 25px;
		}
		&__logo{
			margin-bottom: -5px;
		}

		&__text{
			text-align: center;
		}
	}
}

@media (max-width: $breakpoint480) {
	.footer {
		&__bottom {
			padding: 60px 0;
		}
	}
}