.page {
	position: relative;
	min-height: 100vh;

	// .page__bg
	&__bg {
		img{
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			object-fit: cover;
		}
	}

	// .page__content
	&__content {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&-c{
			justify-content: center;
		}
	}

	// .page__order
	&__order {
		z-index: 3;
		align-self: start;
		margin-top: 70px+70px;
		width: 380px;
		background-color: $white;
	}

	// .page__login
	&__login{
		z-index: 3;
		align-self: center;
		margin-top: 70px;
		width: 380px;
		background-color: $white;
	}

	// .page__tagline
	&__tagline {
		z-index: 2;
		position: relative;
		right: -5px;
		bottom: 18px;
		align-self: end;
		width: 300px;
		text-align: end;
	}
}

// ------------------- media --------------------------------
@media (max-width: $breakpoint768) {
	.mainpage__order{
		align-self: center;
	}
}

@media (max-width: $breakpoint480) {
	.mainpage__order{
		width: 300px;
		margin-top: 70px+20px;
	}
}