.page {
	min-height: 100vh;
	background-color: $background;
	// .page__hero
	&__hero {
		height: 500px;
	}

	// .page__body
	&__body {
		padding-top: 70px;
		padding-bottom: 70px;
		display: grid;
		grid-template-columns: auto 33%;
		gap: 70px;
	}

	// .page__content
	&__content {
	}

	// page__card
	&__card {
	}
}

.hero {
	display: flex;
	margin-top: 70px;
	width: 100%;
	height: 485px;
	// .hero__column
	&__column {
		&:first-child {
			flex: 1 1 68.1%;
		}
		&:last-child {
			flex: 1 1 31.9%;
			height: 50%;
		}
	}

	// .hero__img
	&__img{
		height: 100%;
		width: 100%;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.pagecontent {
	display: flex;
	flex-direction: column;
	gap: 30px;
	// .pagecontent__row
	&__row {
		display: flex;
		justify-content: start;
		gap: 10px;
	}

	// .pagecontent__column
	&__column {
		width: 350px;
	}

	// .pagecontent__cart
	&__cart {
	}
}

.cartroom {

	// .cartroom__title
	&__title {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		span{
			color: rgba($color: $colorText, $alpha: 1);
			font-size: 19px;
			font-weight: 700;
			&:nth-child(2){
				color: rgba(31, 32, 65, 0.50);
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
			}
		}
	}

	// .cartroom__body
	&__body {
	}
}

.info {

	// .info__body
	&__body {
	}

	// .info__item
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	// .info__line
	&__line {
		max-width: 280px;
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba($colorText,.1);
	}

	// .info__img
	&__img {
		flex: 0 0 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .info__label
	&__label {
		flex: 1 1 100%;
		span{
			display: block;
			line-height: 24px;
			color: rgba($color: $colorText, $alpha: .75);
			&:first-child{
				font-weight: 700;
				color: rgba($color: $colorText, $alpha: 1);
			}
		}
	}
}

.impress {
	display: flex;
	gap: 30px;
	align-items: flex-end;
	// .impress__canvas
	&__canvas {
		position: relative;
		height: 120px;
		width: 120px;
	}

	// .impress__label
	&__label {
		position: absolute;
		z-index: 100;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		color: $pirple;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		span{
			font-size: 24px;
		}
	}

	// .impress__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	// .impress__item
	&__item {
		display: flex;
		align-items: center;
		gap: 5px;
		span {
			line-height: 24px;
			color: rgba($color: $colorText, $alpha: .75);
		}
		& .impress__dott{
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}
}

.reviews {
	// .reviews__body
	&__body {
	}

	// .reviews__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		&:not(:last-child){
			margin-bottom: 22px;
		}
	}

	// .reviews__row
	&__row {
		display: flex;
		gap: 10px;
	}

	// .reviews__img
	&__img {
		flex: 0 0 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 2px solid #FFF;
		box-shadow: 0px 10px 20px 0px rgba($colorText, 0.10);

		overflow: hidden;
		position: relative;
		&>img {
			position: absolute;
			inset: 0;
			object-fit: cover;
		}
	}

	// .reviews__label
	&__label {
		span{
			display: block;
			line-height: 24px;
			color: rgba($color: $colorText, $alpha: .75);
			&:first-child{
				font-weight: 700;
				color: rgba($color: $colorText, $alpha: 1);
			}
		}
	}

	// .reviews__btn
	&__btn {
		flex: 0 0 48px;
		display: flex;
		justify-content: center;
		align-items: baseline;
		position: relative;
		cursor: pointer;
	}

	// .reviews__like
	&__like {
		position: absolute;
		top: 0;
		left: 50%;
		min-width: 40px;
		height: 20px;
		transform: translateX(-50%);
		border-radius: 10px;
		border: 1px solid rgba($colorText, 0.25);
		background: $white;
		padding: 0 3px 0 1px;
		span{
			color: rgba($colorText, 0.25);
			font-size: 10px;
			display: flex;
			align-items: center;
			&::before{
				flex-grow: 0;
				flex-shrink: 0;
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				background: url("../img/icons/favorite_border.svg") center no-repeat;
			}
		}
		&.like{
			border: 1px solid $pirple;
			span{
				color: $pirple;
				&::before{
					background: url("../img/icons/favorite.svg") center no-repeat;
				}
			}
		}
	}

	// .reviews__comment
	&__comment {
		p{
			line-height: 24px;
			color: rgba($color: $colorText, $alpha: .75);
		}
	}
}

.rules {

	// .rules__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .rules__text
	&__text {
		span{
			line-height: 24px;
			color: rgba($color: $colorText, $alpha: .75);
		}
	}

	// .rules__marker
	&__marker{
		display: flex;
		align-items: baseline;
		gap: 10px;
		&::before{
			content: "";
			flex: 0 0 10px;
			height: 10px;
			border-radius: 50%;
			background: rgba($colorText, 0.25);
		}
		&-none{
			&::before{
				opacity: 0;
			}
		}
	}
}

.cancel {
	p{
		line-height: 24px;
		color: rgba($color: $colorText, $alpha: .75);
	}
}


.check {
	// .check__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 30px;
	}

	// .check__row
	&__row {
		display: grid;
		grid-template-columns: 1fr 20px 80px;
		gap: 4px;
		align-items: baseline;

		span{
			line-height: 24px;
			color: rgba($color: $colorText, $alpha: .75);
		}
	}

	// .check__name
	&__name {
		display: inline-flex;
		align-items: baseline;
	}

	// .check__info
	&__info {
		cursor: pointer;
		width: 20px;
		height: 20px;
		display: block;
		border-radius: 50%;
		border: 1px solid rgba($colorText, 0.25);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		color: rgba($colorText, 0.25);
		font-size: 12px;
		font-weight: 700;
		line-height: 14px;
		&:hover {
			.check__textinfo{
				display: block;
			}
		}
	}

	// .check__textinfo
	&__textinfo {
		z-index: 10;
		display: none;
		position: absolute;
		top: 110%;
		left: 0;
		width: 100px;
		background-color: $white;
		border: 1px solid rgba($colorText, 0.25);
		border-radius: 4px;
		padding: 4px;
		color: $colorText;
	}

	// .check__info-null
	&__info-null {
		opacity: 0;
	}

	// .check__cost
	&__cost {
		flex: 0 0 80px;
		text-align: end;
	}

	// .check__totalrow
	&__totalrow {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		font-size: 19px;
		font-weight: 700;
		color: rgba($color: $colorText, $alpha: .75);
	}

	// .check__totalname
	&__totalname {
	}

	// .check__dashed
	&__dashed {
		flex: 1 1 auto;
		border-bottom: 1px dotted rgba($colorText, 0.25);
	}

	// .check__totalcost
	&__totalcost {
	}
}

