// Container & Breakpoints
@use "sass:math";
$containerWidth: 1160;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';
$header: 'black';

// Fonts
$fontMain: 'Gilroy',sans-serif;

// Colors
$pirple: #bc9cff;
$blue: #8ba4f9;
$white: #FFFFFF;
$colorText: #1F2041;